@use '../utilities' as u;

.container {
  width: min(100% - 1rem, 90rem);
  margin-inline: auto;

  &-fluid {
    width: 100%;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &-reverse {
    flex-direction: row-reverse;   
  }
}

